.sectionsection {
    padding-top: 30px;
    > .row {padding: 0px;}
    > .row:nth-child(1) {
        > div:nth-child(1), > div:nth-child(2) {
            display: inline-block;
            vertical-align: top;
        }
        > div:nth-child(1) {
            width: 75%;
        }
        > div:nth-child(2) {
            width: 25%;
            text-align: right;
            > .icon {margin-right: 15px;}
            > .icon:last-child {margin-right: 0px;}
            > .icon.disabled {opacity: 0.2;}
        }
        h2 {margin-top: 0px;}
        > p {margin: 0px;}
    }

    &.deleted {
        h2 {opacity: 0.5;}
    }
    &.editable {
        border-top: solid 1px rgba(0, 0, 0, 0.1);
    }
}
